<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Página Botones</ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<app-encabezado titulo="Botones de Ionic"> </app-encabezado>

<ion-content class="ion-padding">
<ion-text color="black">
  <h1>Botones de Ionic</h1>
</ion-text>

<ion-button>Mi boton</ion-button>

<ion-button expand="block" color="secondary">Boton con expand</ion-button>

<ion-button expand="full" fill="solid" shape="round" color="tertiary">
  Boton con Fill
</ion-button>

<ion-button expand="full" fill="solid" shape="round" color="success">
  <ion-icon slot="start" name="star"></ion-icon>
  Boton con Icono
</ion-button>

</ion-content>
