<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title>Página Iconos</ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<app-encabezado titulo='iconos de Ionic'> </app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Iconos en IONIC</h1>
  </ion-text>
  <ion-text color="dark">
    <p>Todos los iconos de ionic estan en ionicons</p>
  </ion-text>

  <ion-text color="dark">
    <p>Iconos Comunes</p>
  </ion-text>

  <ion-list >
    <ion-item lines="noline">
      <ion-label slot="start">Logo GitHub </ion-label> <ion-icon slot="end" name="logo-github" size="Large"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-item lines="noline">
      <ion-label slot="start">Logo Gamer </ion-label> <ion-icon slot="end" name="game-controller-outline" size="Large"></ion-icon>
    </ion-item>                                      
  </ion-list>










</ion-content>
