<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Uso de Ionic
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h1>Pagina Home</h1>
    
  </ion-text>
  
  <ion-text color="secondary">
    <p>Esta es la pagina inicial de la aplicacion para aprender a usar <span class="chokita">IONIC</span></p>
  </ion-text>

 <!--  <ion-text color="tertiary" routerLink="/pagina1">
    <h4>Página De Iconos</h4>
  </ion-text> -->

  <ion-button  expand="Full" fill="solid" color="primary" (click)="hacerClick">
    Pagina de Iconos
  </ion-button>

  <ion-text color="tertiary" routerLink="/pagina2">
    <h4>Página De Botones</h4>
  </ion-text>
</ion-content>


